* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  padding-top: 40px;
  padding-left: 20px;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.row__poster {
  width: 100%;
  /* max-height: 200px; */
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 2px;
  min-width: 150px;
}

.row_posters {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters-10 {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.item {
  position: relative;
  display: flex;
  min-height: 200px;
  width: 100%;
  transition: transform 450ms;
  max-height: 250px;
  flex-shrink: 0;
}

.item + .item {
  margin-left: 280px;
}

.number {
  position: absolute;
  height: 108%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  left: -15px;
  font-weight: bold;
  font-size: 275px;
  line-height: 0;
  color: black;
  -webkit-text-stroke: 4px rgb(102, 102, 102);
  text-shadow: 0 0 30px black;
}

.item img {
  position: absolute;
  margin: 4px 0 4px 90px;
  box-shadow: 0px 0px 32px black;
  height: 200px;
  z-index: 1;
}

.row__poster:hover {
  transform: scale(1.08);
}

.item:hover {
  transform: scale(1.08);
  z-index: 1;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row__posterLarge {
  max-height: 250px;
}

row__posterLarge:hover {
  transform: scale(1.09);
}

.row {
  color: white;
  margin-left: 20px;
  z-index: 1;
}

/*--> HEADER <--*/
#background-video {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  height: 60rem;
}

.bg-overlay {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 60rem;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 0) 15%
  ) !important;
}

.banner {
  height: 50rem;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 240px;
  height: 190px;
  z-index: 1;
}

.banner__title {
  width: 25rem;
  height: 10rem;
  padding-bottom: 0.3rem;
  max-width: 100%;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 20px;
  font-weight: 500;
  max-width: 560px;
  padding-bottom: 30px;
  color: #fff;
}

.banner__button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 25px;
  padding-right: 10px;
}

.play {
  background-color: #fdfdfd;
  color: #111;
}

.info {
  color: #fff;
  background-color: rgba(216, 216, 216, 0.459);
}

.play:hover {
  background-color: rgb(204, 204, 204);
  transition: all 0.2s;
}

.info:hover {
  background-color: rgba(216, 216, 216, 0.185);
  transition: all 0.2s;
}

.seta {
  padding-left: 10px;
  margin-right: 10px;
  height: 10px;
}

/*--> NAV <--*/
.nav__logo {
  width: 80px;
  object-fit: contain;
}

.user {
  border-radius: 4px;
  padding-left: 10px;
}

.lupa,
.bell {
  height: 20px;
  padding-left: 30px;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  margin-left: 20px;
  border-radius: 4px;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: left;
  align-items: center;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  flex-wrap: wrap;
}

.nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: auto;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #b9b9b9;
  margin-right: 20px;
  display: flex;
}

.head-link:hover {
  font-weight: bolder;
  color: white;
}

/*--> FOOTER <--*/
.footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  text-align: left;
  color: #969696;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.svg {
  height: 20px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-direction: row;
  column-gap: 70px;
  padding: 20px 20px 20px 20px;
  list-style-type: none;
}

.column + .column {
  margin-left: 30px;
}

.footer__trademark {
  font-size: 10px;
  margin-top: 20px;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.footer__serviceCode {
  font-size: 13px;
  color: #969696;
  border: #969696 1px solid;
  padding: 8px;
  text-align: center;
  margin-bottom: 30px;
  background-color: transparent;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.footer__serviceCode:hover {
  color: white;
  cursor: pointer;
}

.footer__icons {
  display: flex;
  justify-content: flex-start;
  max-width: 720px;
  margin: 0 auto;
}

.footer__icons img {
  display: flex;
  flex: 1;
  padding-right: 20px;
}

.column a {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  color: #969696;
}

.column a:hover {
  text-decoration: underline;
}

.column li {
  padding-bottom: 20px;
}

/* ============================
   RESPONSIVE MEDIA QUERIES
   ============================ */

/* Tablets and below (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .nav {
    padding: 20px 15px;
  }

  .nav ul {
    font-size: 14px;
  }

  .nav a {
    margin-right: 15px;
  }

  .banner__contents {
    padding-top: 180px;
    margin-left: 20px;
  }

  .banner__title {
    height: 15rem;
  }

  .banner__description {
    width: 90%;
    max-width: 450px;
    font-size: 18px;
  }

  .item + .item {
    margin-left: 200px;
  }

  .number {
    font-size: 200px;
  }

  .item img {
    height: 160px;
    margin-left: 70px;
  }

  .footer__row {
    justify-content: center;
  }

  .column + .column {
    margin-left: 15px;
  }
}

/* Mobile landscape and small tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
  .nav {
    padding: 15px 10px;
  }

  .nav__logo {
    width: 60px;
  }

  .nav ul {
    display: none;
  }

  .lupa,
  .bell {
    height: 18px;
    padding-left: 15px;
  }

  .nav__avatar {
    width: 25px;
    margin-left: 15px;
  }

  .seta {
    height: 8px;
    padding-left: 5px;
  }

  #background-video,
  .bg-overlay {
    height: 40rem;
  }

  .banner {
    height: 35rem;
  }

  .banner__contents {
    padding-top: 140px;
    margin-left: 15px;
  }

  .banner__title {
    height: 10rem;
  }

  .banner__description {
    width: 90%;
    font-size: 16px;
    max-width: 400px;
    line-height: 1.2;
  }

  .banner__button {
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 0.5rem;
  }

  .banner__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .icon {
    height: 20px;
    padding-right: 8px;
  }

  h2 {
    padding-top: 30px;
    padding-left: 15px;
  }

  .row {
    margin-left: 10px;
  }

  .row_posters,
  .row_posters-10 {
    padding: 15px 10px;
  }

  .row__poster {
    /* max-height: 110px; */
    min-width: 120px;
  }

  .item {
    min-height: 150px;
    max-height: 180px;
  }

  .item + .item {
    margin-left: 140px;
  }

  .number {
    font-size: 150px;
    left: -10px;
    -webkit-text-stroke: 3px rgb(102, 102, 102);
  }

  .item img {
    height: 120px;
    margin-left: 50px;
  }

  .footer {
    padding: 15px;
    margin-top: 30px;
  }

  .footer__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .column {
    padding: 10px 0;
    column-gap: 30px;
  }

  .column + .column {
    margin-left: 0;
  }

  .footer__container,
  .footer__icons,
  .footer__trademark {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* Mobile portrait (max-width: 480px) */
@media screen and (max-width: 480px) {
  .nav {
    padding: 10px 8px;
  }

  .nav__logo {
    width: 50px;
  }

  .lupa,
  .bell {
    height: 16px;
    padding-left: 10px;
  }

  .nav__avatar {
    width: 22px;
    margin-left: 10px;
  }

  #background-video,
  .bg-overlay {
    height: 35rem;
  }

  .banner {
    height: 30rem;
  }

  .banner__contents {
    padding-top: 120px;
    margin-left: 10px;
  }

  .banner__title {
    height: 8rem;
    max-width: 280px;
  }

  .banner__description {
    width: 95%;
    font-size: 14px;
    max-width: 100%;
    padding-bottom: 20px;
  }

  .banner__button {
    font-size: 14px;
    padding: 8px 12px;
    margin-right: 0.3rem;
  }

  .icon {
    height: 18px;
    padding-right: 6px;
  }

  h2 {
    padding-top: 25px;
    padding-left: 10px;
    font-size: 1.2rem;
  }

  .row {
    margin-left: 5px;
  }

  .row_posters,
  .row_posters-10 {
    padding: 10px 5px;
  }

  .row__poster {
    /* max-height: 90px; */
    min-width: 100px;
    margin-right: 8px;
  }

  .item {
    min-height: 120px;
    max-height: 150px;
  }

  .item + .item {
    margin-left: 100px;
  }

  .number {
    font-size: 120px;
    left: -8px;
    -webkit-text-stroke: 2px rgb(102, 102, 102);
  }

  .item img {
    height: 100px;
    margin-left: 40px;
  }

  .footer {
    padding: 10px;
    margin-top: 20px;
  }

  .svg {
    height: 18px;
  }

  .footer__icons img {
    padding-right: 15px;
  }

  .column {
    padding: 8px 0;
  }

  .column a,
  .footer__serviceCode {
    font-size: 12px;
  }

  .column li {
    padding-bottom: 15px;
  }

  .footer__trademark {
    font-size: 9px;
    margin-top: 15px;
  }
}

/* Extra small devices (max-width: 360px) */
@media screen and (max-width: 360px) {
  .nav__logo {
    width: 45px;
  }

  .banner__title {
    height: 6rem;
    max-width: 240px;
  }

  .banner__description {
    font-size: 13px;
  }

  .banner__button {
    font-size: 13px;
    padding: 7px 10px;
  }

  .item + .item {
    margin-left: 80px;
  }

  .number {
    font-size: 100px;
  }

  .item img {
    height: 85px;
    margin-left: 35px;
  }

  .row__poster {
    max-height: 80px;
    min-width: 90px;
  }
}

/* Hover effects disabled on touch devices */
@media (hover: none) {
  .row__poster:hover,
  .item:hover {
    transform: none;
  }

  .play:hover {
    background-color: #fdfdfd;
  }

  .info:hover {
    background-color: rgba(216, 216, 216, 0.459);
  }
}